/*#about_section{*/
/*    position: absolute;*/
/*    top: 900px;*/
/*}*/
/*#second_para{*/
/*    position: absolute;*/
/*    top: 350px;*/
/*    left: 800px;*/
/*    !*background-color: #ffd694;*!*/
/*    background-color: #d0d0d0;*/
/*    width:400px;*/
/*    padding: 50px;*/
/*    opacity: 70%;*/
/*    border-radius: 10px;*/
/*    height: 200px;*/
/*    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), -5px -5px 10px rgba(255, 255, 255, 0.5);*/
/*}*/

/*#first_para{*/
/*    position: absolute;*/
/*    top: 100px;*/
/*    left: 500px;*/
/*    background-color: #d0d0d0;*/
/*    width:400px;*/
/*    height: 200px;*/
/*    padding: 25px;*/
/*    opacity: 70%;*/
/*    border-radius: 10px;*/
/*    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), -5px -5px 10px rgba(255, 255, 255, 0.5);*/
/*}*/
/*#section_about{*/
/*    background-color: white;*/
/*    width: 1300px;*/
/*    height: 600px;*/
/*    top: 120px;*/
/*    left: 110px;*/
/*    position: absolute;*/
/*    border-radius: 10px;*/
/*    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;*/
/*}*/
/*#about_pic{*/
/*    position: absolute;*/
/*    top: 50px;*/
/*    left: 50px;*/
/*    !*box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;*!*/
/*    box-shadow: 50px 0px 55px 5px #d0d0d0;*/

/*}*/

/*!*-----------------*!*/
/*a{*/
/*    color: #111*/
/*}*/

/*.photo{*/
/*    !*position: absolute;*!*/
/*    !*top: 50%;*!*/
/*    !*left: 50%;*!*/
/*    transform: translate(-50%, -50%);*/
/*    !*display: block;*!*/
/*    border-radius: 20px;*/
/*}*/

/*.photo img{*/
/*    !*width: 200px;*!*/
/*    !*height: 280px;*!*/
/*    !*object-fit: cover;*!*/
/*    filter: grayscale(0%) contrast(90%);*/
/*    box-shadow: 10px 15px 25px 0 rgba(0,0,0,.2);*/
/*    !*display: block;*!*/
/*    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);*/
/*    margin-top: -10px;*/
/*}*/

/*.photo:hover img{*/
/*    box-shadow: 1px 1px 10px 0 rgba(0,0,0,.1);*/
/*}*/

/*.photo .glow-wrap{*/
/*    overflow: hidden;*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    top: 0;*/
/*    !*margin-top: -10px;*!*/
/*}*/

/*.photo .glow{*/
/*    !*display: block;*!*/
/*    position:absolute;*/
/*    width: 40%;*/
/*    height: 200%;*/
/*    background: rgba(255,255,255,.2);*/
/*    top: 0;*/
/*    filter: blur(5px);*/
/*    transform: rotate(45deg) translate(-450%, 0);*/
/*    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);*/
/*}*/

/*.photo:hover .glow{*/
/*    transform: rotate(45deg) translate(450%, 0);*/
/*    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);*/
/*}*/

/*.photo:hover img,*/
/*.photo:hover .glow-wrap{*/
/*    margin-top: 0;*/
/*}*/

/*h1{*/
/*    position: absolute;*/
/*    z-index: 1;*/
/*    transform: translate(-25%, -65%);*/
/*    font-family: 'Montserrat', sans-serif;*/
/*    margin: 0;*/
/*    line-height: 1.2;*/
/*}*/
/*.about_round{*/
/*    border-radius: 10px;*/
/*}*/






#about_section{
    /*position: absolute;*/
    /*top: 900px;*/
    height: 1000px;
}
#second_para{
    position: absolute;
    top: 350px;
    left: 800px;
    /*background-color: #ffd694;*/
    background-color: #d0d0d0;
    width:400px;
    padding: 50px;
    opacity: 70%;
    border-radius: 10px;
    height: 200px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), -5px -5px 10px rgba(255, 255, 255, 0.5);
}

#first_para{
    position: absolute;
    top: 100px;
    left: 500px;
    background-color: #d0d0d0;
    width:400px;
    height: 200px;
    padding: 25px;
    opacity: 70%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), -5px -5px 10px rgba(255, 255, 255, 0.5);
}
#section_about{
    background-color: white;
    width: 1300px;
    height: 600px;
    top: 120px;
    left: 110px;
    position: relative;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    z-index: 1;
}
#about_pic{
    position: absolute;
    top: 60px;
    left: 50px;
    /*box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;*/
    box-shadow: 30px 0px 95px 0px #d0d0d0;

}

/*-----------------*/
a{
    color: #111
}

.photo{
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    transform: translate(-50%, -50%);
    /*display: block;*/
    border-radius: 20px;
}

.photo img{
    /*width: 200px;*/
    /*height: 280px;*/
    /*object-fit: cover;*/
    filter: grayscale(0%) contrast(90%);
    box-shadow: 10px 15px 25px 0 rgba(0,0,0,.2);
    /*display: block;*/
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    margin-top: -10px;
}

.photo:hover img{
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,.1);
}

.photo .glow-wrap{
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    /*margin-top: -10px;*/
}

.photo .glow{
    /*display: block;*/
    position:absolute;
    width: 40%;
    height: 200%;
    background: rgba(255,255,255,.2);
    top: 0;
    filter: blur(5px);
    transform: rotate(45deg) translate(-450%, 0);
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover .glow{
    transform: rotate(45deg) translate(450%, 0);
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover img,
.photo:hover .glow-wrap{
    margin-top: 0;
}

/*h1{*/
/*    position: absolute;*/
/*    z-index: 1;*/
/*    transform: translate(-25%, -65%);*/
/*    font-family: 'Montserrat', sans-serif;*/
/*    margin: 0;*/
/*    line-height: 1.2;*/
/*}*/
.about_round{
    border-radius: 10px;
}

/*------*/
#about_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(10px); /* Adjust the blur amount as needed */
    z-index: -1;
}