#assignment_section{
    /*position: absolute;*/
    /*top: 3750px;*/
    height: 1500px;
    /*margin-left: 100px;*/
}
/*-----------*/
.head_h2_id{
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}
.para_clz{
    font-size: 1rem;
    font-family: sans-serif;
    margin-top: 30px;
    margin-left: 30px;
    color: white;
}
.arrow {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    color: #FFFFFF;
    margin-top: 5px;
    margin-right: 8px;
    z-index: 1;
    cursor: pointer;
}
/*.card {*/
/*    margin-right: 20px;*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*    !*width: calc(25% - 30px); !* 4 columns *!*!*/
/*    width: 400px; !* 4 columns *!*/
/*    height: 150px;*/
/*    !*background: #fff;*!*/
/*    !*background: black;*!*/
/*    background: linear-gradient(135deg, hsl(230, 40%, 12%), hsl(230, 20%, 7%));*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    padding: 1rem 0.5rem;*/
/*    box-shadow: 0 1px 1px rgb(0, 0, 0, 0.1),*/
/*    0 2px 2px rgb(0, 0, 0, 0.1),*/
/*    0 4px 4px rgb(0, 0, 0, 0.1),*/
/*    0 8px 8px rgb(0, 0, 0, 0.1);*/
/*    transition: transform 0.3s ease-in-out;*/
/*    margin-bottom: 20px;*/
/*    margin-left: 20px;*/
/*    margin-top: 20px;*/
/*    border: 1px solid whitesmoke;*/
/*    border-radius: 12px;*/
/*}*/
/*--4----*/
.card {
    margin-right: 20px;
    position: relative;
    overflow: hidden;
    width: 400px; /* 4 columns */
    height: 250px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5)); /* Glassy gradient background */
    display: flex;
    flex-direction: column;
    padding: 1rem 0.5rem;
    /*box-shadow: 10px 10px 20px rgba(5, 5, 5, 0.2), -10px -10px 20px rgba(5, 5, 5, 0.2); !* 3D glassy box shadow *!*/
    box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.2), -10px -10px 20px rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 12px;
    z-index: 100;


}
.card:hover {
    transform: scale(1.05);
}



/*card eka hover karama*/
.card:before {
    /*content: '';*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    /*width: 50px;*/
    /*height: 50px;*/
    /*!*background: #FF0038;*!*/
    /*background: #a3a8a3;*/
    /*clip-path:*/
    /*        polygon(0 0, 100% 0, 100% 100%);*/
    /*transition:*/
    /*        width 0.3s ease, height 0.3s ease;*/
    /*z-index: 0;*/

    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    /*background: linear-gradient(180deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5)); !* Glassy gradient background *!*/


    background: black; /* Glassy gradient background */
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    box-shadow: 10px 10px 20px rgba(5, 5, 5, 0.2), -10px -10px 20px rgba(5, 5, 5, 0.2); /* 3D glassy box shadow for pseudo-element */
    transition: width 0.3s ease, height 0.3s ease;
    z-index: 10000000;


    display: flex;
    overflow: hidden;
}
.card:hover:before {
    width: 200%;
    height: 200%;
    z-index: -1;
}
.card:hover h2 {
    /*color: #fff;*/
    color: whitesmoke;
    transition: all 0.3s ease;
}
.card:hover p {
    /*color: #f1f1f1;*/
    color: ghostwhite;
    transition: all 0.3s ease;
}

.row {
    display: flex;
}
#assignment_id{
    position: relative;
    top: 200px;
    margin-left: 100px;
}
.view_github{
    position: absolute;
    bottom: 10px;
    right: 20px;
    border: 1px solid #abaa82;
    border-radius: 50px;
    width: 80px;
    height: 30px;
    padding-left: 19px;
    padding-top: 5px;
}
.view_front{
    color: #474747;
    text-decoration: none;
}
.view_front:hover{
    color: red;
    text-decoration: none;
}