#assignment_section{
    height: 1500px;
}
/*-----------*/
.head_h2_id{
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}
.para_clz{
    font-size: 0.9rem;
    font-family: sans-serif;
    margin-top: 20px;
    margin-left: 30px;
    color: white;
    margin-bottom: 20px;
}
.arrow {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    color: #FFFFFF;
    margin-top: 5px;
    margin-right: 8px;
    z-index: 1;
    cursor: pointer;
}
.card {
    margin-right: 20px;
    position: relative;
    overflow: hidden;
    width: 400px; /* 4 columns */
    height: 250px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5)); /* Glassy gradient background */
    display: flex;
    flex-direction: column;
    padding: 1rem 0.5rem;
    /*box-shadow: 10px 10px 20px rgba(5, 5, 5, 0.2), -10px -10px 20px rgba(5, 5, 5, 0.2); !* 3D glassy box shadow *!*/
    box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.2), -10px -10px 20px rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 12px;
    z-index: 100;

}
.card:hover {
    transform: scale(1.05);
}
/*card eka hover karama*/
.card:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    /*background: linear-gradient(180deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5)); !* Glassy gradient background *!*/

    background: black; /* Glassy gradient background */
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    box-shadow: 10px 10px 20px rgba(5, 5, 5, 0.2), -10px -10px 20px rgba(5, 5, 5, 0.2); /* 3D glassy box shadow for pseudo-element */
    transition: width 0.3s ease, height 0.3s ease;
    z-index: 10000000;

    display: flex;
    overflow: hidden;
}
.card:hover:before {
    width: 200%;
    height: 200%;
    z-index: -1;
}
.card:hover h2 {
    color: whitesmoke;
    transition: all 0.3s ease;
}
.card:hover p {
    color: ghostwhite;
    transition: all 0.3s ease;
}
.row {
    display: flex;
}
#assignment_id{
    position: relative;
    top: 200px;
    margin-left: 100px;
}
.view_github{
    position: absolute;
    bottom: 10px;
    right: 20px;
    border: 1px solid #abaa82;
    border-radius: 50px;
    width: 80px;
    height: 30px;
    padding-left: 15px;
    padding-top: 5px;
}
.view_front{
    color: #474747;
    text-decoration: none;
}
.view_front:hover{
    color: red;
    text-decoration: none;
}
#cases_list{
    position: absolute;
    padding-left: 19px;
    padding-top: 95px;
}
.list_front{
    color: #cae3e6;
    text-decoration: none;
}
.list_front:hover{
    color: #58a8fc;
    text-decoration: none;
}
.open_view{
    position: absolute;
    bottom: 10px;
    right: 300px;
    border: 1px solid #cae3e6;
    border-radius: 50px;
    width: 80px;
    height: 30px;
    padding-left: 19px;
    padding-top: 5px;
}
.open_front{
    color: #b3d0f2;
    text-decoration: none;
}
.open_front:hover{
    color: cyan;
    text-decoration: none;
}