#educations_section{
    height: 1400px;
}
@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans&family=Stint+Ultra+Expanded&display=swap');

:root{
    --perspective: 1000px;
    --link-color:#010790;
}

* {
    box-sizing: border-box;
}
a{
    color:var(--link-color);
    font-weight:bold;
}
.edu_topic{
    font-family: 'Stint Ultra Expanded', cursive;
    font-size: 1.5em;
    text-align: center;
}
.book {
    display: inline-block;
    position: relative;
    /*width: 320px;*/
    /*height:453px;*/
    width: 300px;
    height:400px;
    margin:0 auto;
    /*margin-top: 5rem;*/
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.gloss{
    position: absolute;
    top:0;
    z-index:200;
    overflow: hidden;
    width:20%;
    height:100%;
    opacity:0.5;
    background: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,0.2), rgba(255,255,255,0));
    transition:all .5s;
    transform: translateX(-50%) rotateY(0deg);
    transform-origin: left center;
}

.cover {
    position: absolute;
    width:100%;
    z-index:100;
    transition:transform .5s;
    transform: translateX(0);
    transform-origin: left center;
    backface-visibility: hidden;
    opacity: 90%;
}

.description{
    position: absolute;
    left:0;
    top:0;
    width:inherit;
    height:inherit;
    border: solid 1px grey;
    background:white;
    transition: all 1s;
    padding: 10% 10%;
    padding-top:5%;
    z-index:1;
    opacity: 70%;
}

.description .edu_topic{
    font-family: 'Pontano Sans', sans-serif;
    font-size: calc(0.75em + .1vw);
    text-align: center;
    line-height: 1.25em;
}
.description p{
    text-align: center;
    margin-top: 30px;
}

.book:hover{
    cursor: pointer;
}

.book:hover .cover {
    transform: perspective(var(--perspective)) rotateY(-80deg);
}

.book:hover .gloss {
    transform: perspective(var(--perspective)) rotateY(-80deg) translateX(100%) scaleX(5);
}

.book:hover .description {
    transform: translateX(20%);
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    height:2em;
    margin:0 auto;
    color:grey;
}

.rating > span {
    display: inline-block;
    position: relative;
    font-size: 1.75em;
    margin-right:.2em;
}

.rating > span ~ span:before {
    content: "\2605";
    position: absolute;
    color:#8d2a06;
}
#book_section1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 2px solid black;

    font-family: 'Pontano Sans', sans-serif;
    font-size: calc(0.65em + .05vw);

}
#book_section2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 2px solid black;

    font-family: 'Pontano Sans', sans-serif;
    font-size: calc(0.65em + .05vw);
}