/*!*--------new-02--------------*!*/
.navi_front{
    position: relative;
    font-size: 20px;

    color: black;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}
#navigation_id{
    position: absolute;
    left: 700px;
    top: 15px;
    text-decoration: none;
}
.container{
    width: 100vw;
    height: 50px;
    background-color: white;
    position: fixed;
    top: 0px;
    z-index: 9999;
    text-decoration: none;

    font-family: Raleway;
}


/* Border from Y to X  */
div.borderYtoX a:before, div.borderYtoX a:after {
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 2px;
    content: '';
    background: black;
    transition: all 0.3s;
}

div.borderYtoX a:before {
    left: 0px;
    top: 0px;
}

div.borderYtoX a:after {
    right: 0px;
    bottom: 0px;
}

div.borderYtoX a:hover:before, div.borderYtoX a:hover:after {
    opacity: 1;
    height: 2px;
    width: 100%;
}