body{
    /*background-color: #130F40;*/
    background-color: greenyellow;
}
#navigation_bar{
    width: 100vw;
    height: 50px;
    background-color: white;
    position: fixed;
    top: 0px;
    z-index: 9999;
}
#navigation_id{
    position: absolute;
    left: 980px;
    top: 15px;
}


#first_ui_label{
    display: inline;
    position: absolute;
}
#h1_element{
    position: relative;
    font-size: 35px;
    color: cornflowerblue;
    top: 90px;
    left: 20px;
}
#h2_element{
    position: relative;
    font-size: 100px;
    color: crimson;
    top: 10px;
    left: 100px;
}
#main_img{
    display: inline;
    left: 900px;
    position: absolute;
    top: 100px;
    border-radius: 100%;

}
.rounded-image{
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    z-index: 1;
}
#line_img{
    display: inline;
    top: 300px;
    left: 145px;
    position: relative;
    z-index: 10;
}
#background_white_div{
    width: 100%;
    height: 300px;
    background-color: #FFFFFF;
    position: absolute;
    display: inline;
    top: 500px;
}
#top_social_icons{
    display: inline;
    position: absolute;
    top: 600px;
    z-index: 1;
    left: 10px;
    top: 750px;
    justify-content: space-around;
}

#image-container {
    display: inline;
    position: absolute;
    z-index: 1;

    width: 840px;
    height: 100px;
    z-index: 3;
    top: 700px;
    left: 20px;
}

/*!* Apply styles to the images within the container *!*/
/*.image-container img {*/
/*    position: relative;*/
/*    width: 40px;*/
/*    height: 40px;*/
/*    border: 1px solid black;*/
/*    top: 500px;*/
/*}*/

.gmail_icons{
    display: inline;
    position: absolute;
    z-index: 1;
    top: 20px;
}
.instagram_icons{
    display: inline;
    position: absolute;
    z-index: 1;
    top: 20px;
    /*left: 130px;*/
}
.facebook_icons{
    display: inline;
    position: absolute;
    z-index: 1;
    top: 20px;
    /*left: 260px;*/
    left: 156px;
}
.linkedin_icons{
    display: inline;
    position: absolute;
    z-index: 1;
    top: 20px;
    /*left: 390px;*/
    left: 312px;
}
.twitter_icons{
    display: inline;
    position: absolute;
    z-index: 1;
    top: 20px;
    /*left: 520px;*/
    left: 468px;
}
.github_icons{
    display: inline;
    position: absolute;
    z-index: 1;
    top: 20px;
    /*left: 650px;*/
    left: 624px;
}
.medium_icons{
    display: inline;
    position: absolute;
    z-index: 1;
    top: 20px;
    /*left: 770px;*/
    left: 770px;
}