body{
    /*background-color: #130F40;*/
    background-color: greenyellow;
}
#navigation_bar{
    width: 100vw;
    height: 50px;
    background-color: white;
    position: fixed;
    top: 0px;
    z-index: 9999;
}
#navigation_id{
    position: absolute;
    left: 980px;
    top: 15px;
}


#first_ui_label{
    display: inline;
    position: absolute;
}
#h1_element{
    position: relative;
    font-size: 35px;
    color: cornflowerblue;
    top: 90px;
    left: 20px;
}
#h2_element{
    position: relative;
    font-size: 100px;
    color: crimson;
    top: 10px;
    left: 100px;
}
#main_img{
    display: inline;
    left: 900px;
    position: absolute;
    top: 100px;
    border-radius: 100%;

}
.rounded-image{
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    z-index: 1;
}
#top_social_icons{
    display: inline;
    position: absolute;
    top: 600px;
}