body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: white;
    color: #FFA800;
    text-align: left;
    padding: 7px;
}
nav {
    text-align: center;
    background-color: #FFA800;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav li {
    display: inline;
    margin-right: 20px;
}
section {
    display: none;
    padding: 20px;
}
#home:target, #customer:target, #item:target , #place_order:target , #invoice_btn:target{
    display: block;
}
#home {
    background-color: #d0d0d0;

}
#customer {
    background-color: #e0e0e0;
}
#item {
    background-color: #e0e0e0;
}
#place_order {
    background-color: #e0e0e0;
}
#invoice_btn{
    background-color: #d0d0d0;
    text-decoration: none;
}
.invoice_class{
    text-decoration: none;
}
.navi_front{
    font-size: 25px;
    color: black;
    cursor: pointer;
    text-decoration: none;
}
#header1img{
    position: absolute;
    left: 280px;
    bottom: 590px;
}
#navvv{
    position: relative;
    top: 2px;
}
.vtex-image{
    position: absolute;
    left:560px;
    top: 120px;
}
.blurry-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("imgs/VTEX.png"); /* Replace with your image path */
    background-size: cover;
    filter: blur(10px); /* Adjust the blur amount as needed */
    z-index: -1; /* Place the background behind other content */
}
#section_invoice a {
    text-decoration: none;
}
#section_invoice{
    position: absolute;
    top: 870px;
    left: 10vw;
}
.invoice_front{
    color: white;
    font-weight: bold;
}
#home_img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("imgs/VTEX.png"); /* Replace with your image path */
    background-size: cover;
    filter: blur(10px); /* Adjust the blur amount as needed */
    z-index: -1; /* Place the background behind other content */
}
#main_div>p{
    position: relative;
    top: 20vh;
    left: 35vw;
    color: black;
    text-align: center;
    font-size: 60px;
    width: 427px;
    line-height: 1.3;
    z-index: 99;
    display: block;
    text-shadow: 5px 5px 3px white;
}